<!-- HTML navbar -->
<nav class="navbar navbar-expand-lg navbar-dark my-bg-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
            <i class="fa-sharp fa-solid fa-hospital"></i> Trang chủ
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="nav-items">
                <!-- JavaScript will insert dropdown here -->
            </ul>
        </div>
    </div>
</nav>

<!-- Bootstrap Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
